version: "3.9"

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ledger
      POSTGRES_PASSWORD: ledgerpass
      POSTGRES_DB: ledgerdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    container_name: simple-ledger-api
    restart: always
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://ledger:ledgerpass@db:5432/ledgerdb
    ports:
      - "8000:8000"
    command: >
      sh -c "alembic upgrade head &&
             uvicorn app.main:app --host 0.0.0.0 --port 8000"

volumes:
  pgdata:
